body {
  background-color: #282c34;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  width: 100%;
  background-color: #0063aa;
  text-align: center;
  height: 30px;
  padding: 10px 0px;
  
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0063aa;
  text-align: center;
  height: 30px;
  padding: 10px 0px;
}
